@tailwind base;
@tailwind components;
@tailwind utilities;
/* *{
    border: 1px solid red;
} */
 .border-b-1{
    border-bottom: 1px solid rgba(89, 89, 89, 0.663);
 }
 /* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb00;
    -webkit-border-radius: 10px;
    border-radius: 13px;
}

::-webkit-scrollbar-thumb {
    /* -webkit-border-radius: 10px; */
    /* border-radius: 10px; */
    background: #8a8a8a; 
}
/* Modal overlay with blur effect */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.491); /* Dark background */
    backdrop-filter: blur(5px); /* Apply blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal content */
  .modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001;
  }
  